<html>

<head>
    <link rel="stylesheet" href="../static/css/error.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="header">
                <img src="../static/images/datashop.png">
            </div>
            <section>
                <center>
                    <div class="cloud-image">
                        <img src="../static/images/confused-cloud-icon.png">
                    </div>
                    <div class="message">
                        We're sorry, the page you requested
                        <br> was not found.
                    </div>
                    <div class="redirect">
                        <a class="btn btn-default" href="/dashboard">
                            <b>Look Here</b>
                        </a>
                    </div>
                </center>
            </section>
        </div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>